html * {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    margin: auto 0;
}

.menu {
    margin: 70px;
}

h4 {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 5px;
}

.col-2 img {
    width: 50px;
    
}

.col-2.navi {
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-size: 75px;
text-align: center;
font-weight: bold;
font-style: italic;
}

h2{
    font-size: 55px;
text-align: center;
}

h3{
    color: #909090;
text-align: center;
font-size: 40px;
margin-top: 20px;

}

.col-12 img { 
    width: 100%;
}

.picleft img {
    width: 100%
}